%div
  %center
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / youtube
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-1183320406029643", "data-ad-slot" => "1628227984", :style => "display:inline-block;width:300px;height:250px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
