%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ text-responsive
%ins.adsbygoogle{"data-ad-client" => "ca-pub-1183320406029643", "data-ad-format" => "auto", "data-ad-slot" => "9486809194", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
