.comment
  .comment-image
    %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
  .comment-content
    %h1= comment.name
    %p= raw comment.title
    %p= raw comment.content
    %p.comment-detail= comment.date
