.search-bar {
  margin-top: 15px;
}

.search-bar, .inline-input {
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search], input[type=email] {
    @include appearance(none);
    @include transition(border-color);
    border: 1px solid $base-border-color;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }
  a {
    float: right;
    text-transform: uppercase;
    font-size: 75%;
  }

  button[type=submit], .inline-button {
    @include position(absolute, 0em 0em 0em null);
    outline: none;
    padding: 5px 10px;
  }
}

#mc_embed_signup input.mce_inline_error {
    border-color: $danger-color !important;
}

#mc_embed_signup div.mce_inline_error {
    margin-top: 1em !important;
    padding: $base-spacing / 2 !important;
    background-color: $light-danger-color !important;
    z-index: 1;
    color: darken($light-danger-color, 55%) !important;
}
