// Colors
$dark-gray: #333;
$medium-gray: #999;
$medium-dark-gray: #5d5d5d;
$light-gray: #ddd;
$lighter-gray: #eaeaea;

$red: #FB4D3D;
$blue: #345995;
$yellow: #EAC435;
$green: #03CEA4;
$magenta: #CA1551;

//Primary Color Variations
$primary-color: $blue;
$light-primary-color: lighten($primary-color, 35);

//Accent Color Variations
$accent-color: $magenta;
// $dark-accent-color: $muted-yellow;
$darker-accent-color: darken($accent-color, 20);
$light-accent-color: lighten($accent-color, 20);

//Warning Color Variations
$warning-color: $yellow;
$light-warning-color: lighten($warning-color, 35);
$darker-warning-color: darken($warning-color, 20);

//Danger Color Variations
$danger-color: $red;
$light-danger-color: lighten($danger-color, 20);

//Notice Color Variations
$notice-color: $primary-color;
$light-notice-color: $light-primary-color;

//Success Color Variations
$success-color: $green;
$light-success-color: lighten($success-color, 40);

