// Colors
$dark-gray: #333;
$medium-gray: #999;
$medium-dark-gray: #5d5d5d;
$light-gray: #ddd;
$lighter-gray: #eaeaea;

$sheba-red: #b32221;
$muted-blue: #2B91D5;
$bright-blue: #1AA4FF;
$bright-yellow: #CCCA02;
$muted-yellow: #85841B;
$burgundy: #4D0100;
$dark-blue: #003E66;

//Primary Colors
$primary-color: $bright-blue;
$light-primary-color: lighten($primary-color, 35);

//Accent Colors
$accent-color: $bright-yellow;

