.second-footer-div
-# .third-footer-div
-# .footer-div
.post-footer-div

%footer.footer{:role => "contentinfo"}
  .footer-logo
    %i{class: "fa fa-sun-o"}
  .footer-links
    %ul
    %ul
      %li
        %h3 Subscribe
      %li
        .g-ytsubscribe{"data-channel" => "shebayemenifood", "data-count" => "default", "data-layout" => "default", "data-theme" => "dark"}
      %li
        <a href="https://www.instagram.com/shebayemenifood/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
      %li
        .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/ShebaYemeniFood", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true", "data-width" => "300"}
      %li
        %a{"data-pin-do" => "buttonFollow", :href => "http://www.pinterest.com/shebayemenifood/"} Pinterest
  %hr/
  %p
    Images and content &copy; #{Date.today.year} Katherine Abu Hadal.
  %li
    %a{:href => "#"}
      -# = ("لابد من صنعاء وإن طال السفر").to_s.force_encoding("UTF-8")
    <a href="http://daggettcounty.utahbusinessalliance.com/hp/mutinous.aspx?tag=48" style="display: none;">thrushes</a>

%script{:src => "https://apis.google.com/js/platform.js"}
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1459144461020057";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
