%p
  Here you will find more information about the products and utensils which I use to cook some of the recipes on the site.
%p
  DISCLAIMER: I provide this list as a reference to those people looking for products and utensils used in Yemeni cooking. These products are from 3rd party websites and I make an affiliate commission on some of the items shown here. Sheba Yemeni Foods is not associated with these companies and all sales are directly through the companies themselves. I only list products which I have actually tried and find them to be useful. If you do decide to purchase any item through my link, I appreciate that very much. I also appreciate feedback from your experience with these products and I will update the links accordingly.

<iframe src="http://astore.amazon.com/sheba07-20" width="90%" height="4000" frameborder="0" scrolling="no"></iframe>
