- if posts.present?
  .cards.small-cards
    - posts.each_with_index do |post, index|
      = render "post", post: post
  %center.breathe
    = will_paginate posts
- else
  %div.flash-notice
    No posts were found. Try changing the search criteria.

