.card-wrapper
  .cards.primary-cards
    .logo-wrapper
      = image_tag "sheba-yemeni-food-logo.png"
    = render "post", post: posts.first

  .cards.small-cards
    = render posts
    = will_paginate posts

