/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bourbon";
@import "fonts";
@import "base/base";
@import "neat";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "mixins/*";
@import "shared/*";
@import "comments";
@import "cards";

.outer-container {
  @include outer-container;
  padding-top: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  margin: 0;
}

// The mixin above should preferably be in a file of its own. Below is the code for the object that has the texture.

.texture {
  $texture-top-background: lighten($yellow, 1%);
  $texture-bottom-background: darken($yellow, 10%);
  height: 5em;
  width: 100%;

  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background,
    $texture-bottom-background, 87, 1);
    float: left;
    height: 5em;
    width: 50%;
  }

  .texture-inverted {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background,
    $texture-bottom-background, 87, 0);
    float: left;
    height: 5em;
    width: 50%;
  }
}

.breathe {
  padding-bottom: 1.5em;
}

.hidden {
  display: none;
}

.social-buttons {
  float: right;
}

.facebook-wrapper {
  margin-top: -7px;
  padding-left: 52px;
  float: right;
}

.video-wrapper {
  @include span-columns(5.75);
  height: 20em;
  @include media($mobile) { // As defined in _grid-settings.scss
    @include span-columns(12);
    max-width: 300px;
    height: 14em;
  }
}

.video-container {
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 36px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: $base-border-radius;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  @include span-columns(4);
}
.thumbnail a>img, .thumbnail>img {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.thumbnail-wrapper {
}

