/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "bourbon";
@import "base/base";
@import "neat";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "mixins/*";
@import "shared/*";
@import "comments";
@import "cards";

.outer-container {
  @include outer-container;
  padding-top: 80px;
  // max-width: 90em;
}

.inner-container {
  // margin: 0 1em 1.5em 1em;
}

body {
  margin: 0;
}

.pre-footer-div {
  height: 15px;
  background: $bright-yellow;
  $texture-top-background: $bright-yellow;
  $texture-bottom-background: $bright-yellow;
  @include texture(180deg, $texture-top-background,
  $texture-bottom-background, 84, 0);
}

.post-footer-div {
  height: 35px;
  background: $bright-blue;

  $texture-top-background: $bright-blue;
  $texture-bottom-background: $bright-blue;
  @include texture(180deg, $texture-top-background,
  $texture-bottom-background, 87, 0);
  /* Background pattern from subtlepatterns.com */
}

.second-footer-div {
  height: 5px;
  background: $sheba-red;
}

.footer-div {
  height: 50px;
  $texture-top-background: $muted-yellow;
  $texture-bottom-background: $muted-yellow;

  $texture-top-background: lighten($muted-yellow, 1%);
  $texture-bottom-background: darken($bright-yellow, 10%);
  @include texture(180deg, $texture-top-background,
  $texture-bottom-background, 73, 0);
}

// The mixin above should preferably be in a file of its own. Below is the code for the object that has the texture.

.texture {
  $texture-top-background: lighten($muted-yellow, 1%);
  $texture-bottom-background: darken($bright-yellow, 10%);
  height: 5em;
  width: 100%;

  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background,
    $texture-bottom-background, 87, 1);
    float: left;
    height: 5em;
    width: 50%;
  }

  .texture-inverted {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal
    @include texture(180deg, $texture-top-background,
    $texture-bottom-background, 87, 0);
    float: left;
    height: 5em;
    width: 50%;
  }
}

.breathe {
  padding-bottom: 1.5em;
}

.tag {
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
}

.tag-default {
  background-color: $lighter-gray;
  a {
    color: $medium-dark-gray;

    &:hover {
      color: $dark-gray;
    }
  }
}

.hidden {
  display: none;
}
