@font-face {
  font-family: 'Titillium';
  src:url('titillium-regular-webfont.eot');
  src:url('titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-regular-webfont.svg#titillium-regular-webfont') format('svg'),
    font-url('titillium-regular-webfont.woff2') format('woff2'),
    font-url('titillium-regular-webfont.woff') format('woff'),
    font-url('titillium-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-regularitalic-webfont.eot');
  src:url('titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-regularitalic-webfont.svg#titillium-regularitalic-webfont') format('svg'),
    font-url('titillium-regularitalic-webfont.woff2') format('woff2'),
    font-url('titillium-regularitalic-webfont.woff') format('woff'),
    font-url('titillium-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-light-webfont.eot');
  src:url('titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-light-webfont.svg#titillium-light-webfont') format('svg'),
    font-url('titillium-light-webfont.woff2') format('woff2'),
    font-url('titillium-light-webfont.woff') format('woff'),
    font-url('titillium-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-lightitalic-webfont.eot');
  src:url('titillium-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-lightitalic-webfont.svg#titillium-lightitalic-webfont') format('svg'),
    font-url('titillium-lightitalic-webfont.woff2') format('woff2'),
    font-url('titillium-lightitalic-webfont.woff') format('woff'),
    font-url('titillium-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-thin-webfont.eot');
  src:url('titillium-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-thin-webfont.svg#titillium-thin-webfont') format('svg'),
    font-url('titillium-thin-webfont.woff2') format('woff2'),
    font-url('titillium-thin-webfont.woff') format('woff'),
    font-url('titillium-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-thinitalic-webfont.eot');
  src:url('titillium-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-thinitalic-webfont.svg#titillium-thinitalic-webfont') format('svg'),
    font-url('titillium-thinitalic-webfont.woff2') format('woff2'),
    font-url('titillium-thinitalic-webfont.woff') format('woff'),
    font-url('titillium-thinitalic-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src:url('titillium-bold-webfont.eot');
  src:url('titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('titillium-bold-webfont.svg#titillium-bold-webfont') format('svg'),
    font-url('titillium-bold-webfont.woff2') format('woff2'),
    font-url('titillium-bold-webfont.woff') format('woff'),
    font-url('titillium-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}
